$fondo-rojo-negro:repeating-linear-gradient(45deg,transparent,transparent 25px,rgb(131,21,21,0.5)25px,rgba(131,21,21,0.5) 40px);
$color-letras:crimson;
$fondo-negro-rojo: repeating-linear-gradient(45deg,transparent,transparent 25px,rgb(131,21,21,0.5)25px,rgba(131,21,21,0.5) 40px);